/* nejsme vcerejsi, pouzivame moderni box model */
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  font-size: 14px;
}

/* ---------------------------------------------------- */

h1 {
  text-align: center;
}

.tym {
  display: flex;
  justify-content: center;
}

.osoba {
  border: 2px solid rgb(206, 202, 202);
  justify-content: center;
  text-align: center;
  margin: 10px;
  padding: 20px;
}

img {
  border-radius: 50%;
}
